body{
    min-height: 100vh;
    margin: 0;
    color: white;
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    background-repeat: no-repeat;
    background-size: auto;
}

h1{
    text-align: center;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.30);
}
h2{
    text-align: center;
}
nav{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

a{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
a:hover{
    transform: scale(1.20);
    transition: 0.7s ease;
    text-shadow: 0 0 20px #eee;
}

#addBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 90%;
    max-width: 800px;
    margin: 10px auto; 
    padding-top: 8px;
    box-sizing: border-box;
}
#title{
    font-size: 1em;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#content{
    border-radius: 4px;
    border: none;
    font-size: 1.2em;
}

#author{
    border: none;
    border-radius: 6px;
    padding: 5px;
}


.btn-grad {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
.btn-grad {
    border: none;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; 
    text-decoration: none;
    box-shadow: 0 0 20px #eee;
    cursor: pointer;
}
