body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
}

h1{
    text-align: center;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.30);
}
h2{
    text-align: center;
}

a{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}
a:hover{
    transform: scale(1.20);
    transition: 0.5s ease-in-out;
}